@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <h2>Register</h2>

    <table class=" table text-center table-striped table-responsive">
        <tr>
            <td>UserName</td>
            <td><input type="text" name="txtUserName" value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtPassword" value="" /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txtPasswordConfirm" value="" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button" name="btnRegister" class="btnRegister" value="Login" />
            </td>
        </tr>
    </table>

</div>